         @font-face {
    /* font-properties */
    font-family: papyrus;
    src:url('../fonts/PAPYRUS.TTF') format('truetype');
}

.logo{
    width:30%;
    margin: auto;
}
.nav{
    margin-left:250px;
}


        .lavaLamp {
            position: relative;
            height: 60px;
            width: 1050px;
            background-color: rgba(239, 242, 225, 0.63);
            padding: 15px;
            margin-left: -200px;
            overflow: hidden;
        }
                .lavaLamp li {
                    float: left;
                    list-style: none;
                    margin-left: 15px;
                    padding-right: 5px;
                }
                    .lavaLamp li.back {
                        border: 1px groove #d3c0c0;
                        background-color: #efe7f4;
                        width: 10px;
                        height: 40px;
                        /*z-index: 8;*/
                        position: absolute;
                    }
                    .lavaLamp li a {
                        font: bold 30px papyrus;
                        text-decoration: none;
                        color: #d07fe3;
                        outline: none;
                        text-align: center;
                        text-transform: lowercase;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        float: left;
                        height: 35px;
                        position: relative;
                        margin: auto 15px;
                        margin-left: 30px;
			margin-top: -3px;
                    }
                        .lavaLamp li a:hover, .lavaLamp li a:active, .lavaLampe li a:visited {
                            border: none;
                        }                    
